header {
    background-color: teal;
    color: black;   
    width: 100%;
    margin: 0 auto;
    border-bottom: black 2px solid;
    border-radius:2px ;
    
}

body{
    background-image: url(assets/image/background-image.png);
}

.container{
     /* border: white; */
     background-color:whitesmoke;
     border: solid 1px white;
     text-decoration: none;
     margin: 0 auto;
     margin-bottom: 10px;
     margin-top: 20px;
     width: 960px;
     height: 500px;
     padding: 2px;
}

.wrapper {
    padding: none;
    font-size: 25px;
    font-weight: bolder;
  }

.para{
    display: inline-block;
    
    position: absolute;
    
    width: 750px;
    margin: 0 auto;
    

}

.profile-image{
    margin: 10px;
    margin-top: 10px;

}

.profile-name h1 {
    font-size: 28px;
    font-weight: bold;
    float: left;
    /* padding: 10px 10px 5px 15px; */
    margin-left: 280px;
    
}


.nav-bar{
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
}

.nav-bar li :hover{
    background-color: black;
    color: chartreuse;
}

.nav-bar a {

    margin: 20px;
    
   
    text-decoration: none;
    float: right;
    font-size: 18px;
    color: whitesmoke;
    
}

.nav-bar li{
    display: inline-block;
    margin: 0 auto;
    padding-left: 5px;
    margin-left: 50px;
    
}

.wrapper {
    padding: none;
    font-size: 25px;
    font-weight: bolder;
    margin-left: 10px;
  }

footer{
    border-top: teal 8px solid;
    width: 960px;
    /* margin-top: 10px;
    margin-left: 260px; */
    margin: 0 auto;
    background-color: #666666;
    padding: 25px;
    text-align: center;
}

#Name,
#Email,
#Message{
    width: 950px;
    margin-left: 2px;
}

#Message {
    height: 200px;
}