header {
    background-color: teal;
    color: white;   
    width: 960px;
    margin: 0 auto;
    border-bottom: black 2px solid;
    border-radius:2px ;
}

body{
    background-image: url(assets/image/background-image.png);
}

.container{
     /* border: white; */
     /* background-color: white; */
     text-decoration: none;
     margin: 0 auto;
     width: 960px;
     height: 500px;
}

.para{
    display: inline-block;
    
    position: absolute;
    
    width: 750px;
    margin: 0 auto;
    

}

.profile-image{
    margin: 10px;
    margin-top: 10px;

}

.profile-name h1 {
    font-size: 28px;
    font-weight: bold;
    float: left;
    padding: 10px 10px 5px 15px;
    margin: 5px 10px 15px 20px;
}

.nav-bar{
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
}

.nav-bar li :hover{
    background-color: black;
    color: chartreuse;
}

.nav-bar a {
    padding: 0px;
    margin: 20px;
    margin-left: 40px;
    text-decoration: none;
    float: right;
    font-size: 20px;
    color: white;
    
}

.nav-bar li{
    display: inline-block;
    margin: 0 auto;
    padding-left: 10px;
}

footer{
    border-top: teal 8px solid;
    width: 960px;
    margin-top: 10px;
    margin-left: 260px;
    background-color: #666666;
    padding: 25px;
    text-align: center;
}

#Name,
#Email,
#Message{
    width: 960px;
}

#Message {
    height: 200px;
}